<body>
  <main>
    <div id="app">
      <section id="login">

        <form class="container-startlist" name="contactForm" action="" method="get">
          <h2 class="heading">Добрый день!!</h2>
          <h3 class="heading">Добро пожаловать на сайт!</h3>
          <div class="startlist-row-2">
            <div class="column-2">
              <div class="column-2">
              <p/>
                <nav>
                {{> link class = "btn" href = "#" heading = 'login' page = 'login'}}
                </nav>
              <p/>
               <nav>
                {{> link class = "btn" href = "#" heading = 'profile' page = 'profile'}}
              </nav>
              <p/>
                 <nav>
                {{> link class = "btn" href = "#" heading = 'setting' page = 'setting'}}
              </nav>
              <p/>
                  <nav>
                {{> link class = "btn" href = "#" heading = 'password' page = 'password'}}
              </nav>
              <p/>
                 <nav>
                {{> link class = "btn" href = "#" heading = 'registration' page = 'registration'}}
              </nav>
              <p/>
              <nav>
                {{> link class = "btn" href = "#" heading = 'Error 404' page = 'error404'}}
              </nav>
              <p/>
              <nav>
                {{> link class = "btn" href = "#" heading = 'Error 500' page = 'error500'}}
              </nav>
              <p/>
              <nav>
                {{> link class = "btn" href = "#" heading = 'chat' page = 'chat'}}
              </nav>

            </div>

            </div>
          </div>
        </form>
       
      </section>
    </div>
   
  </main>
</body>
