<body>
    <main>
        <section id="login">

            <form class="container" name="contactForm" action="" method="get">
                <h2 class="heading">Вход</h2>
                <div class="row">
                    <div class="column-2">
                        <p>
                            <label for="login">Логин</label>

                            {{> input type = "text" name = "login" placeholder = ""}}

                        </p>
                        <p>
                            <label for="password">Пароль</label>
                            {{> input type = "password" name = "password" placeholder = ""}}
                        </p>

                    </div>

                </div>
                <div class="row-2">
                    <div class="column-2">
                        <p>
                            {{> button class = "btn" href = "#" heading = 'Войти'}}
                        </p>
                        <p>
                            {{> button class = "btn" href = "#" heading = 'Нет аккаунта'}}
                        </p>

                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
