<body>
  <main>
    <div id="app">
      <section id="Error404">         
          <div class="center-screen">
            
              <p>
                404
              </p>
               <p>
                Не туда попали
              </p>
                
          
          </div>
       
       
      </section>
    </div>
   
  </main>
</body>